<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <div class="top form-group">
        </div>
        <ul class="people no-padding-start">
            {{{contact allConversationsWithMessage}}}
        </ul>
    </div>
</div>